body{
    background-color: #101010;
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: height 1.6em;
    margin:0;
}

.container{
    width:80%;
    margin: auto;
    overflow:hidden;
}

.back-to-home a {
    color: #FFFFFF;
    text-decoration: none;
}

.button {
  font: 15px 'Lato', sans-serif;
  font-weight: 900;
  text-decoration: none;
  background-color: #ff0000;
  color: #FFFFFF;
  padding: 10px 30px;
  border-radius: 5px;
}
.button:hover {
    background-color: #ff0000;
}

#main-header {
    position: fixed; /* Set the navbar to fixed position */
    top: -1; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Overpass', sans-serif;
}

#navbar{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 0);
    opacity: 85%;
    position: fixed; /* Set the navbar to fixed position */
    top: 60px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    color: #fff;
}

#navbar ul{
    padding: 0;
    list-style: none;
}
#navbar li{
    display: inline;
}
#navbar a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;

}

#showcase{
    background-image:url('');
    background-position: center left;
    min-height: 350px;
    margin-bottom: 10px;
    text-align: center;
}

#showcase h1{
    color: #fff;
    font-size: 50px;
    line-height: 1.6em;
    padding-top: 30px;
}

.main{
    float: left;
    width: 70%;
    padding: 0 20px;
    box-sizing: border-box;
    animation: fadeIn linear 0.5s;
          -webkit-animation: fadeIn linear 0.5s;
          -moz-animation: fadeIn linear 0.5s;
          -o-animation: fadeIn linear 0.5s;
          -ms-animation: fadeIn linear 0.5s;
}

.caption{
    float: center;
    font-style: italic;
    font-size: 13px;
        animation: fadeIn linear 0.5s;
              -webkit-animation: fadeIn linear 0.5s;
              -moz-animation: fadeIn linear 0.5s;
              -o-animation: fadeIn linear 0.5s;
              -ms-animation: fadeIn linear 0.5s;
}

#contact-main{
    float: left;
    width: 60%;
    padding: 0 30px;
    box-sizing: border-box;
    animation: fadeIn linear 0.5s;
          -webkit-animation: fadeIn linear 0.5s;
          -moz-animation: fadeIn linear 0.5s;
          -o-animation: fadeIn linear 0.5s;
          -ms-animation: fadeIn linear 0.5s;
}

.portfolio-main{
    float: left;
    width: 65%;
    padding: 0 30px;
    box-sizing: border-box;
    animation: fadeIn linear 0.5s;
          -webkit-animation: fadeIn linear 0.5s;
          -moz-animation: fadeIn linear 0.5s;
          -o-animation: fadeIn linear 0.5s;
          -ms-animation: fadeIn linear 0.5s;
}

/* Make text fade in when the page is refreshed */
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
#sidebar{
    float: right;
    width: 30%;
    background: rgb(217, 241, 255);
    padding: 10px;
    box-sizing: border-box;
}
#contactcontainer{
    width:80%;
    margin: auto;
    overflow:hidden;
}
#contactbar{
    float: right;
    width: 40%;
    background: #b0dfff;
    padding: 15px;
    box-sizing: border-box;
    color: #fff;
}

#main-footer{
    background-color: rgb(60,60,60);
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 16px;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #678bd8;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }

@media(max-width:600px){
    #main{
        width: 100%;
        float:none;

    }
    #sidebar{
        width: 100%;
        float:none;

    }
}
.logo {font: 5px 'Montserrat', sans-serif; color: #fff; font-weight: 900; width: 400px; margin-left: 0 -5px;} 

#botlogo {font: 8px calibri; text-transform: uppercase; letter-spacing: 7.5px; position: relative; top: -35px;} 

    .glitch {
      color: white;
      font-size: 40px;
     padding-bottom: 13px;
      width: 400px; top: -20px; z-index: -1
    }
    
    /* Real glitch effect */
    .glitch {
      position: relative;
    }
    
    .glitch:after {
      animation: glitch-animation 5s infinite linear alternate-reverse;
      background: black;
      clip: rect( 0, 900px, 0, 0 );
      color: white;
      content: attr( data-text );
      left: 2px;
      overflow: hidden;
      position: absolute;
      text-shadow: -2px 0 red;
      top: 0;
    }
    .glitch:before {
      animation: glitch-animation-2 6s infinite linear alternate-reverse;
      background: black;
      clip: rect( 0, 900px, 0, 0 );
      color: white;
      content: attr( data-text );
      left: -2px;
      overflow: hidden;
      position: absolute;
      text-shadow: 2px 0 blue;
      top: 0;
    }
    /* Expanded Animations */
    @keyframes glitch-animation {
      0% {
        clip: rect(42px, 9999px, 44px, 0);
      }
      5% {
        clip: rect(12px, 9999px, 59px, 0);
      }
      10% {
        clip: rect(48px, 9999px, 29px, 0);
      }
      15.0% {
        clip: rect(42px, 9999px, 73px, 0);
      }
      20% {
        clip: rect(63px, 9999px, 27px, 0);
      }
      25% {
        clip: rect(34px, 9999px, 55px, 0);
      }
      30.0% {
        clip: rect(86px, 9999px, 73px, 0);
      }
      35% {
        clip: rect(20px, 9999px, 20px, 0);
      }
      40% {
        clip: rect(26px, 9999px, 60px, 0);
      }
      45% {
        clip: rect(25px, 9999px, 66px, 0);
      }
      50% {
        clip: rect(57px, 9999px, 98px, 0);
      }
      55.0% {
        clip: rect(5px, 9999px, 46px, 0);
      }
      60.0% {
        clip: rect(82px, 9999px, 31px, 0);
      }
      65% {
        clip: rect(54px, 9999px, 27px, 0);
      }
      70% {
        clip: rect(28px, 9999px, 99px, 0);
      }
      75% {
        clip: rect(45px, 9999px, 69px, 0);
      }
      80% {
        clip: rect(23px, 9999px, 85px, 0);
      }
      85.0% {
        clip: rect(54px, 9999px, 84px, 0);
      }
      90% {
        clip: rect(45px, 9999px, 47px, 0);
      }
      95% {
        clip: rect(37px, 9999px, 20px, 0);
      }
      100% {
        clip: rect(4px, 9999px, 91px, 0);
      }
    }
    @keyframes glitch-animation-2 {
      0% {
        clip: rect(65px, 9999px, 100px, 0);
      }
      5% {
        clip: rect(52px, 9999px, 74px, 0);
      }
      10% {
        clip: rect(79px, 9999px, 85px, 0);
      }
      15.0% {
        clip: rect(75px, 9999px, 5px, 0);
      }
      20% {
        clip: rect(67px, 9999px, 61px, 0);
      }
      25% {
        clip: rect(14px, 9999px, 79px, 0);
      }
      30.0% {
        clip: rect(1px, 9999px, 66px, 0);
      }
      35% {
        clip: rect(86px, 9999px, 30px, 0);
      }
      40% {
        clip: rect(23px, 9999px, 98px, 0);
      }
      45% {
        clip: rect(85px, 9999px, 72px, 0);
      }
      50% {
        clip: rect(71px, 9999px, 75px, 0);
      }
      55.0% {
        clip: rect(2px, 9999px, 48px, 0);
      }
      60.0% {
        clip: rect(30px, 9999px, 16px, 0);
      }
      65% {
        clip: rect(59px, 9999px, 50px, 0);
      }
      70% {
        clip: rect(41px, 9999px, 62px, 0);
      }
      75% {
        clip: rect(2px, 9999px, 82px, 0);
      }
      80% {
        clip: rect(47px, 9999px, 73px, 0);
      }
      85.0% {
        clip: rect(3px, 9999px, 27px, 0);
      }
      90% {
        clip: rect(26px, 9999px, 55px, 0);
      }
      95% {
        clip: rect(42px, 9999px, 97px, 0);
      }
      100% {
        clip: rect(38px, 9999px, 49px, 0);
      }
}
.gallery-container {
    display: flex;
    justify-content: center;
    margin-top: 8%;
  }
.gallery {
    display: flex;
    gap: 20px;
  }

  .sponsor {
    position: relative;
   
    width: auto;
    height: 150px;
    transition: filter 0.3s ease-in-out;
  }

  .sponsor img {
    width: 100%;
    height: 100%;
    
    transition: transform 0.3s ease-in-out;
  }

  .sponsor:hover {
    filter: grayscale(100%);
  }

  .sponsor:hover img {
    transform: scale(1.1);
  }
  